* {
	box-sizing: border-box;
}

html {
	min-width: 100%;
	min-height: 100%;
}

body {
		margin: 0;
	padding: 0;
	color: #fff;
	background: linear-gradient(-45deg, #96f, #699);
	background-size: 600% 600%;
}

/* Header */

.header {
	width: 100%;
	max-width: 1128px;
	box-sizing: border-box;
	margin: 20px auto;
	text-decoration: none;
	font-family: Flexo, sans-serif;
}

/* Logo bar */

.logo {
	margin: 0 auto;
	padding: 20px 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
}

.logo__title {
	position: relative;
	display: block;
	font: 200% Audiowide, cursive;
	text-decoration: none;
	transition: top 0.2s ease, color 0.2s ease;
}

.logo__title:link,
.logo__title:visited {
	top: 0;
	color: #fff;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.logo__title:hover,
.logo__title:active {
	top: -5px;
	color: #ccc;
	text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.logo__strap {
	display: inline-block;
	margin: 0;
	padding: 0;
	text-align: right;
}

/* Navigation bar */

.nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.nav__menu {
	width: 82.9787234043%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	text-decoration: none;
	color: white;
}

.nav__item {
	width: 19%;
}

.nav__link {
	display: block;
	width: 100%;
	height: 48px;
	border-radius: 10px;
	line-height: 48px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	transition: background-color 0.2s ease;
}

.nav__link:link,
.nav__link:visited {
	color: #fff;
    background: #069;
}

.nav__link:hover,
.nav__link:active {
	color: #fff;
	background: rgba(0,0,0,0.2);
}

.nav__item--current .nav__link:link,
.nav__item--current .nav__link:visited {
	color: #333;
	background: rgba(255,255,255,0.8);
}

.nav__item--current .nav__link:hover,
.nav__item--current .nav__link:active {
	color: #333;
	background: rgba(255,255,255,0.5);
}

/* social links */

.nav__social {
	width: 15%;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav__social--list {
	display: block;
	float: right;
}

.social__item {
	display: block;
	width: 48px;
	height: 48px;
	border-radius: 10px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 60%;
	transition: background-color 0.2s ease;
}

.social__item:link,
.social__item:visited {
	background-color: rgba(0, 0, 0, 0.5);
}

.social__item:hover,
.social__item:active {
	transform:rotate(15deg);
	transition-duration: 1s;
	background-color: #c90;
}

.social__item--twitter {
	background-image: url('twitter.svg');
}

.social__item--twitch {
	background-image: url('twitch.svg');
	margin-left: 14px;
}
